.vf-page-wrap {
  width: 100%;
}

.vf-demo-wrap {
  width: 100%;
  min-height: 400px;

  background-color: var(--gray-1);
  border-radius: var(--gap-xs);
  outline: var(--outline);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.demo-trigger {
  position: fixed;
  bottom: var(--gap-md);
  z-index: 10000000;
}

@media (max-width: 600px) {
  .vf-demo-wrap {
    background-color: transparent;
    outline: none;
  }
}
