.word-modal-page {
  width: 100%;
}

.word-modal-demo {
  width: 100%;
  background-color: var(--gray-1);

  border-radius: var(--gap-xs);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  outline: var(--outline);
}

.word-modal-demo > div {
  line-height: 1.6;
  font-size: 16px;
  will-change: filter;
  transition: filter 0.3s ease-in;
}

.dictionary-wrap {
  display: flex;
  flex-direction: column;
}

.dictionary-wrap > p {
  text-shadow: var(--text-shadow);
  white-space: pre-wrap;
  line-height: 1.4;
}

.dictionary-details-bar {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: var(--gap-xs);
  padding-bottom: var(--gap-xs);
  color: var(--gray-11);
}

.dictionary-type {
  font-style: italic;
}

.dictionary-word {
  font-size: 22px;
  font-weight: 600;
}

.dictionary-meaning {
  font-weight: 500;
}

.dictionary-usage {
  font-size: 14px;
  font-style: italic;
  color: var(--gray-12);
}

.dictionary-meaning + .dictionary-usage {
  padding-top: var(--gap-md);
}
