.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 0px 16px;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.basic-text-muted {
  color: var(--gray-11);
}
.toast {
  background-color: var(--gray-2);
  outline: 1px solid var(--gray-5);
  border: none !important;
  color: var(--gray-12);
  padding: var(--gap-md);
  min-height: 60px;
}

.demo-prompt {
  color: var(--gray-10);
  font-size: 12px;
  border-bottom: 1px dashed var(--gray-5);
  user-select: none;
}

.page-content {
  margin: var(--gap-xxl) 0;
}

.page-content > p {
  font-size: 16px;
  margin-bottom: var(--gap-md);
  color: var(--gray-11);
}
