.contact-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  gap: var(--gap-md);
  margin-bottom: 80px;
}

.contact-link {
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid var(--gray-4);
  padding-bottom: var(--gap-xs);
}
