.igo-page-wrap {
  width: 100%;
}

.ig-demo-wrap {
  width: 100%;
  /* padding: var(--gap-xl) 0; */

  background-color: var(--gray-1);
  outline: var(--outline);
  border-radius: var(--gap-xs);
  margin-bottom: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}
